@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body { background-color: white;
        color: lightblue;
        font-family: 'Source Sans Pro',sans-serif;
}
div { background-color: white;
        color: lightblue;}
 h2 {
        font-family: 'Source Sans Pro',sans-serif;
        }